{% extends "base.html" %}
{% block title %}圖表{% endblock %}
{% block headmessage %}<h2></h2>{% endblock %}
{% block content %}
<!-- 畫圖 -->
<button type="button" id="BackTop" class="toTop-arrow">^</button>
<div class="row" id="topdiv">
  <div class="col">
    <form>
      跳至:
      <select name="chart">
        <option value="1">metrics/precision</option>
        <option value="2">metrics/recall</option>
        <option value="3">metrics/mAP_0.5</option>
        <option value="4">metrics/mAP_0.5:0.95</option>
        <option value="5">F1-Confidence</option>
        <option value="6">Precision-Recall</option>
      </select>
    </form>
  </div>
</div>

<div class="row" id="#chart0">
  <div class="col">
    {% autoescape off %}
    {{plot_div}}
    {% endautoescape off %}
  </div>
</div>
<div class="row" id="#chart1">
  <div class="col">
    {% autoescape off %}
    {{plot_div2}}
    {% endautoescape off %}
  </div>
</div>
<div class="row" id="#chart2">
  <div class="col">
    {% autoescape off %}
    {{plot_div3}}
    {% endautoescape off %}
  </div>
</div>
<div class="row" id="#chart3">
  <div class="col">
    {% autoescape off %}
    {{plot_div4}}
    {% endautoescape off %}
  </div>
</div>
<div class="row F1" id="#chart4">
  <div class="col-8">
    <h5 style="padding-left: 7%;" id="title_F1">F1-Confidence</h5>
    <img src="/static/img/chart/F1_20.jpg" class="img-fluid" width="auto" height="auto" style="padding-left: 2%;"
      id="img_F1">
  </div>
  <div class="col-4">
    <form>
      <h5>請勾選您想觀看的權重</h5>
      <div style="margin-top: 10px;"></div>
      <div class="col-4"><input type="radio" value="1" name="F1" id="F1_1"> 權重 20 &nbsp;&nbsp;</div>
      <div class="col-4"><input type="radio" value="2" name="F1" id="F1_2"> 權重 30 &nbsp;&nbsp;</div>
      <div class="col-4"><input type="radio" value="3" name="F1" id="F1_3"> 權重 40 &nbsp;&nbsp;</div>
    </form>
  </div>
</div>
<br>
<div class="row PR" id="#chart5">
  <div class="col-8">
    <h5 style="padding-left: 7%;" id="title_PR">Precision-Recall</h5>
    <img src="/static/img/chart/PR_20.jpg" class="img-fluid" width="auto" height="auto" style="padding-left: 2%;"
      id="img_PR">
  </div>
  <div class="col-4">
    <form>
      <h5>請勾選您想觀看的權重</h5>
      <br>
      <div class="col-4"><input type="radio" value="1" name="PR" id="PR_1"> 權重 20 &nbsp;&nbsp;</div>
      <div class="col-4"><input type="radio" value="2" name="PR" id="PR_2"> 權重 30 &nbsp;&nbsp;</div>
      <div class="col-4"><input type="radio" value="3" name="PR" id="PR_3"> 權重 40 &nbsp;&nbsp;</div>
    </form>
  </div>
</div>
<script>
  
</script>




{% endblock %}