{% extends "base.html" %}
{% block title %}專題簡介{% endblock %}
{% block headmessage %}<h2></h2>{% endblock %}
{% block content %}
<div class="row" style="margin-top:5%;">
    <div class="col-lg-6 blue_block">
        <img src="/static/img/icon_01.png"  width="128" height="128" style="display:block; margin:auto; padding-top: 5px;">
        <h2 style="text-align: center; margin-bottom: 20px;margin-top: 10px;"><b>專題背景</b></h2>
        <p style="padding-left:5px ;">商船無人化為目前航運業的趨勢，當大型船舶進港或損壞時，無人拖船可對於船舶的拖船標示進行辨識，使無人拖船靠近船舶，並於拖船標誌的地方進行推動。其中船舶影像辨識之相關研究，多半集中在避碰。而本研究內容與傳統研究相反，著重在船舶上的特徵圖形辨識，提供特殊作業需求，如拖船作業等。提供船舶之特定位置提供無人船接近並作業。</p>
    </div>
    <div class="col-lg-6 white_block">
        <img src="/static/img/icon_02.png"  width="128" height="128" style="display:block; margin:auto;padding-top: 5px;">
        <h2 style="text-align: center; margin-bottom: 20px;margin-top: 10px;"><b>專題目的</b></h2>
        <p style="padding-left:5px ;">辨識目標為標塗於船殼外側之各種船舷標誌，有橫向結構位置較耐頂推之拖船標誌，或是提醒其他船舶滿吃水時處於水線下球形艏(Bulbous bow)位置之艏形標誌、側推器(Side thruster)位置標誌等。</p>
    </div>
    <div class="col-lg-6 white_block">
        <img src="/static/img/icon_03.png"  width="128" height="128" style="display:block; margin:auto; padding-top: 5px;">
        <h2 style="text-align: center; margin-bottom: 20px;margin-top: 10px;"><b>構想</b></h2>
        <p style="padding-left:5px ;">將訓練完成的模型之圖表資料匯入至資料庫，以網站的方式呈現，且可以在網站上傳船舶圖片進行辨識，達到互動式網頁的效果。</p>
    </div>
    <div class="col-lg-6 blue_block">
        <img src="/static/img/icon_04.png"  width="128" height="128" style="display:block; margin:auto;padding-top: 5px;">
        <h2 style="text-align: center; margin-bottom: 20px;margin-top: 10px;"><b>模型之權重</b></h2>
        <p style="padding-left:5px ;">總共訓練了3個不同的權重，驗證資料占比分別為20%、30%、40%，其中驗證資料占比20%之權重準確率較高，但是容易丟失目標。而驗證資料占比為40%之權重，準確率略為其他兩個權重低，但較能準確的找到目標，因此本網站使用驗證資料40%之權重。</p>
    </div>
</div>



{% endblock %}