{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}圖片辨識{% endblock %}
{% block headmessage %}<h2></h2>{% endblock %}
{% block content %}

<style type="text/css">
    .uploadPreview {
        position: relative;
        width: 350px;
        height: 300px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px dashed #333333;
        border-radius: 10px;
        /* background-image: url("/static/img/click_upload.png"); */
    }

    .btn-upload {
        width: 350px;
        height: 42px;
        font-size: 22px;
        line-height: unset;
        border: none;
        background-color: #2e2e2e;
        color: #fff;
        border-radius: 10px;
    }

    .fimg1 {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .btn-block {
        display: block;
        /* width: 100%; */
    }

    .btn-upload:hover {
        background-color: #2e2e2e;
        color: #fff;
    }

    .btn-upload:focus {
        background-color: #2e2e2e;
        color: #fff;
    }
</style>



<div class="row">
    <div class="alert alert-primary" role="alert" style="font-size: 28px ;text-align: center;">
        <b>系統展示</b>
    </div>
    <div class="col-sm-9 col-lg-6">



        <p style="margin-top:5px ;">請選擇想辨識的檔案</p>

        <form action="" enctype="multipart/form-data" id="imageUploadForm" method="post">

            <div style="margin: 0 auto;">
                <div class="uploadPreview" id="faceRectDiv">
                    <img src="/static/img/click_upload.png" id="show" width="340" height="290"
                        style="margin-left: 4px;margin-top: 4px;">
                </div>
                <div class="text-center" style="margin-top: 5px;">
                    <button type="button" class="btn btn-upload btn-block" onclick="uploadImgA()"
                        style="max-width: 350px;">上傳圖片</button>
                    <input class="fimg1" id="img1" type="file" accept="image/png,image/gif,image/jpeg" name="img1"
                        title="">

                    <label for="img1" id="labelImg1"></label>
                </div>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div>
        {% if inference_img %}
        <img src="{{inference_img}}" class="img-fluid" />
        {% else %}
        The inferenced image will be displayed here.
        {% endif %}
    </div>

</div>


<!-- <script>
    var filesizeLimit = 12 * 1024 * 1024
    var resultObj = null
    var inputID
    var filesizeLimit = 12 * 1024 * 1024

    $(document).ready(function () {
        $('#img1').on('change', loadImgOnLable)
        //getBrowserWidth()
    });

    // 上傳圖片
    function uploadImgA() {
        $("#img1").trigger("click");
    }

    function checkOnCancel() {
        var fileNameStatA = $("#img1").get(0).files.length
        // divResult 已隱藏
        //var divResult = document.getElementById('divResult');
        if (fileNameStatA == 0) {
            //$('#fileNameA').text("")
            $("#faceRectDiv").css({
                'background-image': 'url("/static/images/faceMaster/click_upload.png")',
                'width': '350px',
                'height': '350px'
            });
            //divResult.style.display = "none";
        }
    }


    function loadImgOnLable(e) {
        $('#faceRectDiv').empty()
        //var divResult = document.getElementById('divResult');
        //divResult.style.display = "none";
        resultObj = null
        //$('#divResult').hide()
        var faceRectDiv = $('#faceRectDiv')
        inputID = e.currentTarget.id

        var width = faceRectDiv[0].clientWidth

        e.preventDefault()
        e = e.originalEvent
        var target = e.dataTransfer || e.target
        var file = target && target.files && target.files[0]

        var options = {
            maxWidth: width,
            canvas: true,
            pixelRatio: window.devicePixelRatio,
            downsamplingRatio: 0.5,
            orientation: false
        }

        //check()
        if (!file) {
            checkOnCancel()
            return
        }

        else if (file.size > filesizeLimit) {
            var spanMsg = "<span id='fileErrMsg'></span>"
            var msg = "您所選擇的檔案大小為 " + Math.floor(file.size / 1024) + "kb" + "已超過上傳上限 " + filesizeLimit / 1024 + "kb";
            $("#divFileErr").append(spanMsg)
            $("#fileErrMsg").text(msg)
            $('#divFileErr').show()
            return
        }

        //displayImage(file, options)
        currentFile = file
        //FaceMasterSearch()
        // if (!loadImage(file, updateResults, options)) {
        //     $('#divFileErr').text('上傳圖片失敗，請重新上傳')
        // }

    }


    function updateResults(img, data) {
        var fileName = currentFile.name
        var href = img.src
        var dataURLStart

        if (!(img.src || img instanceof HTMLCanvasElement)) {
            $('#divFileErr').text('上傳圖片失敗，請重新上傳')
        }
        else {
            if (!href) {
                href = img.toDataURL(currentFile.type + 'REMOVEME')
                // Check if file type is supported for the dataURL export:
                dataURLStart = 'data:' + currentFile.type
                /*
                if (href.slice(0, dataURLStart.length) !== dataURLStart) {
                  fileName = fileName
                }
                */
            }

            if (inputID == "img1") {
                //$('#file1Info').show()
                //$('#fileNameA').text(fileName)
            }

        }
        $('#divFileErr').hide()
        $("#faceRectDiv").css("background-image", "url(" + href + ")");
    }

    // browser width change
    function getBrowserWidth() {
        window.addEventListener('resize', function () {
            doneResizing()
        });
    }


    function doneResizing() {
        if (resultObj != null) {
            updateFaceRect(resultObj)
        }
    }
</script> -->



<script>
    $(document).ready(function () {
        $('#img1').on('change', loadImgOnLable)

    });

    // 上傳圖片
    function uploadImgA() {
        $("#img1").trigger("click");

    }

    function loadImgOnLable(e) {
        var readFile = new FileReader();
        var mfile = $("#img1")[0].files[0];  //注意這裡必須時$("#myfile")[0]，document.getElementById('file')等價與$("#myfile")[0]
        readFile.readAsDataURL(mfile);
        readFile.onload = function () {
            var img = $("#show");
            img.attr("src", this.result);
            a = this.result.toString();
            $("#faceRectDiv").css("background-image", "url(a)");
        }
    }
</script>

{% endblock %}