{% extends "base.html" %}
{% block title %}圖片辨識{% endblock %}
{% block headmessage %}<h2></h2>{% endblock %}
{% block content %}
<div class="row">
    <div class="alert alert-primary" role="alert" style="font-size: 28px ;text-align: center;">
        <b>系統展示</b>
    </div>
    <div class="col-sm-9 col-lg-6">
        <p style="margin-top:5px ;">請選擇想辨識的檔案</p>

        <form action="" enctype="multipart/form-data" method="POST" id="imageUploadForm">

            <div style="margin: 0 auto;">
                <div class="uploadPreview" id="faceRectDiv">
                    <img src="/static/img/click_upload.png" id="show" width="340" height="290"
                        style="margin-left: 4px;margin-top: 4px;">
                </div>
                <div class="text-center" style="margin-top: 5px;">
                    <button type="button" class="btn btn-upload btn-block" onclick="uploadImgA()"
                        style="max-width: 350px;">上傳圖片</button>
                    {{ form.image }}
                    {% csrf_token %}
                    <label for="img1" id="labelImg1"></label>
                </div>

                <button class="btn btn-outline-success" type="submit">辨識</button>
            </div>
        </form>
    </div>
    <div class="col-sm-9 col-lg-6">
        <p style="margin-top:5px ;">辨識結果</p>
        {% if inference_img %}
        <img src="/static{{inference_img}}" class="img-fluid" width="auto" height="auto">
        {% else %}
        The inferenced image will be displayed here.
        {% endif %}
    </div>
</div>
<script>
    
</script>

{% endblock %}